<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモアプリ</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <h1>メモアプリ</h1>
  <%= yield %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
