<form action="/memos/new" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name='title' required/>
  </div>
  <div class="form-group">
    <label>Content</label>
    <textarea type="text" class="form-control" name='content'/></textarea>
  </div>
  <button type="submit" class="btn btn-primary">保存</button>
</form>
<a href="/memos" class="btn btn-secondary">戻る</a>
