<div class="row">
  <div class="col">Title</div>
  <div class="col-12 border border-grey"><%= escape_html p @title %></div>
</div>
<div class="row">
  <div class="col">Content</div>
  <div class="col-12 border border-grey">
    <pre style="font-size:medium"><%= escape_html p @content %></pre>
  </div>
</div>
<a href="/memos/<%= @id %>/edit" class="btn btn-warning">変更</a>
<a href="/memos" class="btn btn-secondary">戻る</a>
<form action="/memos/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">削除</button>
</form>
